<div class="full-page">
    <div class="panel-container">
        <div class="toolbar">
            <button class="item" [ngClass]="{'active': paper?.pointer === pointerType.pointer}"
                (mousedown)="usePointer($event, pointerType.pointer)">选择</button>
            <button class="item" [ngClass]="{'active': paper?.pointer === pointerType.draw}"
                (mousedown)="usePointer($event, pointerType.draw)">画笔</button>
            <button class="item" [ngClass]="{'active': paper?.pointer === pointerType.rectangle}"
                (mousedown)="usePointer($event, pointerType.rectangle)">矩形</button>
            <button class="item" [ngClass]="{'active': paper?.pointer === pointerType.circle}"
                (mousedown)="usePointer($event, pointerType.circle)">圆形</button>
            <button class="item" [ngClass]="{'active': paper?.pointer === pointerType.arrow}"
                (mousedown)="usePointer($event, pointerType.arrow)">箭头</button>
            <button class="item" [ngClass]="{'active': paper?.pointer === pointerType.line}"
                (mousedown)="usePointer($event, pointerType.line)">线条</button>
            <button class="item" [ngClass]="{'active': paper?.pointer === pointerType.text}"
                (mousedown)="usePointer($event, pointerType.text)">文本</button>
            <!-- <button class="item" [ngClass]="{'active': pointer === 'pen'}" (mousedown)="usePen($event)">菱形</button> -->
            <!-- <button class="item">eraser</button> -->
            <!-- <button class="item">export png</button> -->
        </div>
        <svg #SVG width="800" height="600">
        </svg>
        <ng-container *ngFor="let item of paper?.elements;trackBy: trackBy">
            <plait-element [rootSVG]="SVG" [roughSVG]="roughSVG" [element]="item" [selection]="paper?.selection"
                [viewport]="paper?.viewport" [paper]="paper"></plait-element>
        </ng-container>
        <div class="zoom-toolbar-container">
            <button class="item" (mousedown)="zoomIn($event)">+</button>
            <button class="item" (mousedown)="zoomOut($event)">-</button>
            <button class="item" (mousedown)="resetZoom($event)">{{ zoomRatio }}%</button>
        </div>
    </div>
    <style-card cdkScrollable class="style-card-container" [attributes]="attributes" [paper]="paper"
        (attributesChange)="attributesChange($event)"></style-card>
</div>