<div class="full-page">
    <div class="panel-container">
        <div class="toolbar">
            <button class="item" [ngClass]="{'active': pointer === 'pen'}" (mousedown)="usePen($event)">画笔</button>
            <button class="item" [ngClass]="{'active': pointer === 'select'}" (mousedown)="useSelect($event)">选择</button>
            <!-- <button class="item">eraser</button> -->
            <button class="item">export png</button>
        </div>
        <svg #SVG width="800" height="600">
            <ng-container *ngFor="let item of paper.elements">
                <linear-path [rc]="rc" [points]="item.points" ></linear-path>
            </ng-container>
            
        </svg>
    </div>
</div>