<div class="full-page">
    <div class="panel-container">
        <div class="toolbar">
            <button class="item" [ngClass]="{'active': pointer === 'pen'}" (mousedown)="togglePointer($event)">pen</button>
            <button class="item" [ngClass]="{'active': pointer === 'cursor'}" (mousedown)="togglePointer($event)">cursor</button>
            <!-- <button class="item">eraser</button> -->
            <button class="item">export png</button>
        </div>
        <svg #SVG width="800" height="600"></svg>
    </div>
</div>