<div class="full-page">
    <div class="panel-container">
        <div class="toolbar">
            <button class="item" [ngClass]="{'active': paper?.pointer === pointerType.pointer}" (mousedown)="usePointer($event, pointerType.pointer)">选择</button>
            <button class="item" [ngClass]="{'active': paper?.pointer === pointerType.draw}" (mousedown)="usePointer($event, pointerType.draw)">画笔</button>
            <button class="item" [ngClass]="{'active': paper?.pointer === pointerType.rectangle}" (mousedown)="usePointer($event, pointerType.rectangle)">矩形</button>
            <!-- <button class="item" [ngClass]="{'active': pointer === 'pen'}" (mousedown)="usePen($event)">菱形</button>
            <button class="item" [ngClass]="{'active': pointer === 'pen'}" (mousedown)="usePen($event)">圆</button>
            <button class="item" [ngClass]="{'active': pointer === 'pen'}" (mousedown)="usePen($event)">箭头</button>
            <button class="item" [ngClass]="{'active': pointer === 'pen'}" (mousedown)="usePen($event)">线条</button> -->

            <!-- <button class="item">eraser</button> -->
            <!-- <button class="item">export png</button> -->
        </div>
        <svg #SVG width="800" height="600">
            <ng-container *ngFor="let item of paper?.elements">
                <curve [rc]="rc" [element]="item" [selection]="paper?.selection" ></curve>
            </ng-container>
        </svg>
    </div>
    <style-card class="style-card-container" [attributes]="attributes" [paper]="paper" (attributesChange)="attributesChange($event)"></style-card>
</div>